# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# R1EMU doxygen documentation
projects/codeblocks/R1EMU/doxygen

# Linux binaries
bin/BarrackServer
bin/ZoneServer
bin/GlobalServer

# Logs
bin/*.txt
